node_modules/
.expo/
dist/
npm-debug.*

# Backend
backend/data.db
backend/data.db-journal
backend/data.db-wal
backend/data.db-shm
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/




ios
android

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*